*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("../images/logo.png") -30px -40px;
    /* background: url("../images/bsb.jpg");
    background-size: cover;
    background-attachment: fixed; */
    font-family: Arial, Helvetica, sans-serif;   
}

h1{
    font-size: 50px;
    margin: 91px 79px;
    color: #006E96;
    text-shadow: 3px 3px 3px #999;
}

/* ------------------------- MENÚ ------------------------- */

nav{
    height: 80px;   /*Alto del menú*/
    /* border-top: 1px solid #006E96;
    border-bottom: 1px solid #006E96; */
    background: #006E96;
    margin: 20px 0;
}

nav ul{
    width: 490px;
    margin: 0 auto;
}

nav ul li{
    display: inline; /*Pone todos los elementos en la misma línea*/
    list-style: none;   /*Quita las viñetas de la lista*/
}

nav ul li a{
    text-decoration: none;  /*Quita el subrayado de los enlaces*/
    color: #006E96;
    background:#FFF;
    line-height: 80px;
    padding: 7px;
    margin:0 20px;
    border-radius: 5px;
    box-shadow:2px 2px 2px #333; /*Añade sombra al contenedor*/
    font-weight: bold;
}

nav ul li a:hover{   /*Cambia el contenedor al pasar el mouse por encima*/
    color: #FFF;
    background: #000;
    box-shadow: 0 0 0 #000;
}

section{
    padding:0 30px 20px;
}

section div{
    text-align: center;
}

section div img{
    width: 500px; /*ancho de imagen*/
    margin: 20px;
}

h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color:#006E96;
}

footer{
    background: #006E96;
    color: #FFF;
    text-align: center;
    padding: 20px;
}

span{
    font-weight: bold;
}

/* --------------------- IDENTIFICADORES -------------------- */


#fondo-header{
    text-align: center;
}

#fondo-header h1{
    float: right;
}


/* ------------------------- CLASES ------------------------- */

.principal{
    width: 1000px;  /*ancho de la página*/
    margin: 20px auto;
    border: 2px solid #006E96;
    box-shadow: 3px 3px 3px #333;
    border-radius: 10px;
    background: #FFF;
}

.imgTitulo{
    width: 400px;
    float: left;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #999;
}

.historia p{
    text-align: justify;
}

.imgF{
    width: 46%;
}

.fIzq{
	float: left;
}

.fDer{
	float: right;
}

.textF{
    width: 45%;
	margin: 20px;
}

.textF p{
	margin-bottom: 20px;
}

.imgCenter, .centrado{
    text-align: center;
    margin:10px;
}

.disc img{
    width: 200px;
}

.disc li{
    margin: 20px 65px 20px 47px;
    list-style: none;
    text-align: center;
}

.clear{
    clear: both;
}


.discos{
    float: left;
}

.discos a{
    text-decoration: none;
    color: #000;
}

.discos a:hover{
    color: #006E96;
}

form{
	margin:30px;
	background: #006E96;
	color: #FFF;
	padding: 20px;
	box-shadow: 3px 3px 3px #333;
	border-radius: 5px;
}

.izq, .der{
    float: left;
	width: 48%;
	text-align: left;
}

.izq{
	margin-right: 4%;
}

.cont label{
	width:auto;
}

.cont input, textarea{
	width: 100%;
	margin:10px 0;
	padding: 7px;
}

textarea{
	height: 100px;
}

.cont .boton{
	text-align: center;
}
.cont input[type="submit"]{
	width: 200px;
	border:none;
	box-shadow: 3px 3px 3px #333;
	border-radius: 5px;
	color: #006E96;
	font-weight: bold;
}

.cont input[type="submit"]:hover{
	cursor:pointer;
	background: black;
	color: #FFF;
}